*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #BBB;
    display: flex;
}
.container-1{
    width: 375px;
    height: 800px;
    box-sizing: border-box;
    background-color: white;
    margin: 1.6rem;
}
.head{
    width: 375px;
    height: 88px;
    background-color: #FFFC00;
}
.head img{
    padding-left: 18.5rem;
    padding-top: 1rem;
}
.container-1 .paragraph{
    text-align: center;
}
.container-1 .paragraph h1{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 50px 0;

}
.container-1 .paragraph button{
    background-color:#000000;
    color: #FFFC00;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 41px;
    border: none;
    border-radius: 30px;
}
.container-1 .paragraph p{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px 0;
}
.container-1 .paragraph .pr{
    color: #BBB;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 0;
}

form .text-field{
    position: relative;
    padding: 10px 0;
    color: #BBB;
    font-size: 14px;
    font-style: normal;
    padding-top: 20px;
}
form{
    text-align: center;
}
label{
    position: absolute;
    top: 50%;
    transform: translateY(10%);
    left: 15%;
    font-size: 14px;
    pointer-events: none;
    transition: .5s;
}
.text-field input{
    border: none;
    border-bottom: 1px solid black;
    width: 70%;   
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    background: none;
    outline: none;
}
.text-field span::before{
    position: absolute;
    top: 5px;
    left: 0;
    width: 0%;
    height: 1px;
    transition: .5s;
}
.text-field input:focus ~ label,
.text-field input:valid ~ label{
  top: 10px;
  font-size: 11px;
}
.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before{
  width: 100%;
}
form .pass{
    padding-left: 160px;
    color: #0D46D9;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
input[type="submit"]{
    background-color: #BBB;;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    padding: 14px 90px;
    border: none;
    border-radius: 30px;
    margin: 40px 0;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
  background-color: #FFFC00;
  color: black;
  transition: .5s;
}

form .signup-link {
    color: #626262;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}
form a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.container-2{
    width: 375px;
    height: 800px;
    box-sizing: border-box;
    background-color: white;
    margin: 1.5rem;
}
.head{
    width: 375px;
    height: 88px;
    background-color: #FFFC00;
}
.head img{
    padding-left: 18.5rem;
    padding-top: 1rem;
}
.container-2 .paragraph{
    text-align: center;
}
.container-2 .paragraph h1{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 50px 0;

}
.container-2 .paragraph button{
    background-color:#000000;
    color: #FFFC00;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 41px;
    border: none;
    border-radius: 30px;
}
.container-2 .paragraph p{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px 0;
}
.container-2 .paragraph .pr{
    color: #BBB;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 0;
}

form .text-field{
    position: relative;
    padding: 10px 0;
    color: #BBB;
    font-size: 14px;
    font-style: normal;
    padding-top: 20px;
}
form{
    text-align: center;
}
label{
    position: absolute;
    top: 50%;
    transform: translateY(10%);
    left: 15%;
    font-size: 14px;
    pointer-events: none;
    transition: .5s;
}
.text-field input{
    border: none;
    border-bottom: 1px solid black;
    width: 70%;   
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    background: none;
    outline: none;
}
.text-field span::before{
    position: absolute;
    top: 5px;
    left: 0;
    width: 0%;
    height: 1px;
    transition: .5s;
}
.text-field input:focus ~ label,
.text-field input:valid ~ label{
  top: 10px;
  font-size: 11px;
}
.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before{
  width: 100%;
}
form .pass{
    padding-left: 160px;
    color: #0D46D9;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
input[type="submit"]{
    background-color: #BBB;;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    padding: 14px 90px;
    border: none;
    border-radius: 30px;
    margin: 40px 0;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
  background-color: #FFFC00;
  color: black;
  transition: .5s;
}

form .signup-link {
    color: #626262;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}
form a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
}



.container-3{
    width: 375px;
    height: 800px;
    box-sizing: border-box;
    background-color: white;
    margin: 1.5rem;
}
.head{
    width: 375px;
    height: 88px;
    background-color: #FFFC00;
}
.head img{
    padding-left: 18.5rem;
    padding-top: 1rem;
}
.container-3 .paragraph{
    text-align: center;
}
.container-3 .paragraph h1{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 50px 0;

}
.container-3 .paragraph button{
    background-color:#000000;
    color: #FFFC00;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 41px;
    border: none;
    border-radius: 30px;
}
.container-3 .paragraph p{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px 0;
}
.container-3 .paragraph .pr{
    color: #BBB;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 0;
}

form .text-field{
    position: relative;
    padding: 10px 0;
    color: #BBB;
    font-size: 14px;
    font-style: normal;
    padding-top: 20px;
}
form{
    text-align: center;
}
label{
    position: absolute;
    top: 50%;
    transform: translateY(10%);
    left: 15%;
    font-size: 14px;
    pointer-events: none;
    transition: .5s;
}
.text-field input{
    border: none;
    border-bottom: 1px solid black;
    width: 70%;   
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    background: none;
    outline: none;
}
.text-field span::before{
    position: absolute;
    top: 5px;
    left: 0;
    width: 0%;
    height: 1px;
    transition: .5s;
}
.text-field input:focus ~ label,
.text-field input:valid ~ label{
  top: 10px;
  font-size: 11px;
}
.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before{
  width: 100%;
}
form .pass{
    padding-left: 160px;
    color: #0D46D9;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
.container-3 [type="submit"]{
    background-color: #FFFC00;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    padding: 14px 90px;
    border: none;
    border-radius: 30px;
    margin: 40px 0;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
  background-color: #BBB;
  color: white;
  transition: .5s;
}

form .signup-link {
    color: #626262;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}
form a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 500px) {
    body{
        display: inline;
    }

    input[type="submit"] {
        padding: 14px 3rem;
    }

}
@media screen and (max-width: 500px) {
    body{
        display: inline;
    }
  
    input[type="submit"] {
        padding: 14px 3rem;
    }
  
  }
  